@import "tailwindcss";

@theme {
  --color-amber-400: #fbbf24;
  --color-amber-500: #f59e0b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
}

body {
  background-color: var(--color-slate-950);
  color: white;
  min-height: 100vh;
}
